body {
    background-color: #222831;
    color: #FF5722;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* choice area */

button {
    border-radius: 41%;
    background-color: #FF5722;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    margin: 0 30px;
    color: black;
}

.choice-area {
    padding-bottom: 2%;
}

/* game area */

.chosen {
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* results area */

.scores {
    display: inline-block;
    margin: 20px;
}

#user-score {
    color: green;
    font-weight: bold;
}

#computer-score {
    color: red;
    font-weight: bold;
}

@media (max-width: 414px) {
    body {
      font-size: small;
    }
  }

@media (max-width: 320px) {
    button {
        margin: 10px;
    }
}

