body {
    background-color: #00A7E1;
    color: #00171F;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* choice area */

button {
    border-radius: 50px;
    background-color: #00171F;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    margin: 0 30px;
    color: #00A7E1;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #00A7E1; 
    color: #00171F;
}

.choice-area {
    padding-bottom: 2%;
}

/* game area */

.chosen {
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* results area */

.scores {
    display: inline-block;
    margin: 20px;
}

#user-score {
    color: rgb(0, 255, 0);
    font-weight: bold;
}

#computer-score {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

@media (max-width: 414px) {
    body {
      font-size: small;
    }
  }

@media (max-width: 320px) {
    button {
        margin: 10px;
    }
}

